*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 36, 60);
    height: 100%;
    width: 100%;
}

.container{
    width: 85%;
    margin: auto;
    padding-top: 60px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
}

.card{
    border: 2px solid rgb(49, 59, 116);
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(39, 45, 75);
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 50px;
    gap: 30px;
    word-break: break-all;
}

.card:hover{
    border-color: rgb(68, 82, 163);
}

.card:hover .pages{
    background-color: rgb(66, 73, 117);
}

.title{
    font-size: 20px;
    font-weight: 800;
}

.pages{
    font-size: 20px;
    font-weight: 600;

    width: 80px;
    height: 80px;

    border-radius: 100%;
    border: 2px solid rgb(49, 59, 116);
    background-color: rgb(47, 52, 85);

    display: grid;
    place-content: center;
    place-self: center;
}

.author{
    font-weight: 600;
    margin-top: 6px;
    color: rgb(151, 168, 255);
}

.btn{
    border: none;
    font-family: 'Poppins', sans-serif;
    
    border-radius: 4px;
    background-color: rgb(65, 78, 153);
    color: white;
    padding: 8px 0px;
    font-weight: 500;
    font-size: 16px;
}

.btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.remove{
    background-color: rgb(161, 38, 38);
    text-align: center;
}